<% include ../header %>

<form action="/twitter/tweetar" method="post" class="form">
	
	<textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
	<button type="submit">Tweet</button>

</form>

<% include ../footer %>
