<% include ../header %>
	<div class="container" style="width: 500px; margin:100px auto;">		
		<header class="text-center">
			<h1 class="titulo">Nbotsocial</h1>
			<h4>Bem-vindo!</h4>
		</header>
		<section>
			<form action="/entrar" method="post" class="form">
				<div class="form-group">
					<input type="text" name="nome" placeholder="Digite o nome" class="form-control" />
				</div>
				<div class="form-group">
					<input type="text" name="email" placeholder="Digite o e-mail" class="form-control" />
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary">Entrar</button>
					<button type="submit" class="btn btn-default">Registrar</button>
				</div>
			</form>
		</section>

	</div>
<% include ../footer %>