<% include ../header %>
    <header>
        <div class="col-xs-12">
            <h2>Nbotsocial - Agendador de posts</h2>
        </div>
    </header>
    <section>
        <div class="col-xs-12">
            <h3>Posts <a href="/posts/novo" class="btn btn-success">Novo</a></h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Conteúdo
                        </th>
                        <th>
                            Rede Social
                        </th>
                        <th>
                            Fotos
                        </th>
                        <th>
                            Progr. para
                        </th>
                        <th>
                            Desativar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Conteudo aqui.... com foto.. sei lá... vamos ver...</td>
                        <td>Twitter</td>
                        <td><a href="#">Fotos</a></td>
                        <td>01/01/1900 12:30</td>
                        <td><a href="#" class="btn btn-primary btn-sm">Desativar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
<% include ../exit %>
<% include ../footer %>
